<mat-form-field>
  <mat-label>Base Currency</mat-label>
  <mat-select
    [value]="baseCurrency$ | async"
    (selectionChange)="onSelectionChange($event)"
  >
    <mat-select-trigger>
      <span class="currency">
        <span
          [ngClass]="getCurrencyFlagClass(baseCurrency)"
          class="currency-flag"
        ></span
        >{{ baseCurrency }}
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let currency of currencies" [value]="currency">
      <span class="currency">
        <span
          [ngClass]="getCurrencyFlagClass(currency)"
          class="currency-flag"
        ></span
        >{{ currency }}</span
      ></mat-option
    >
  </mat-select>
</mat-form-field>
