<mat-card class="controls-card">
  <div class="controls">
    <app-base-currency-selector></app-base-currency-selector>
    <app-date-picker
      label="Date"
      [selectedDate]="selectedDate"
      (selectDate)="onSelectDate($event)"
    ></app-date-picker>
  </div>
</mat-card>
<mat-spinner
  *ngIf="(ratesLoadingStatus$ | async) === loadingStatus.loading"
></mat-spinner>
<app-error
  *ngIf="(ratesLoadingStatus$ | async) === loadingStatus.failed"
></app-error>
<mat-card *ngIf="(ratesLoadingStatus$ | async) === loadingStatus.loaded">
  <mat-card-title
    >Currency rates:
    {{ selectedDate ? selectedDate : 'latest' }}</mat-card-title
  >
  <mat-card-content>
    <button
      class="currency-rate-btn"
      mat-button
      *ngFor="let rate of rates$ | async"
      [routerLink]="'/rates/' + rate.currency"
    >
      <span class="button-content">
        <span
          [ngClass]="getCurrencyFlagClass(rate.currency)"
          class="currency-flag"
        ></span>

        {{ rate.currency }}: {{ rate.value | number: '1.0-5' }}
      </span>
    </button>
  </mat-card-content>
</mat-card>
