:host {
  display: block;
  padding: 40px 30px 30px;
}
mat-card {
  max-width: 800px;
  margin: auto;
}
.currency-rate-btn {
  width: 150px;
  text-align: left;
  .currency-flag {
    margin-right: 5px;
  }
}
.button-content {
  display: flex;
  align-items: center;
}
.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
.controls-card {
  margin-bottom: 30px;
}
mat-spinner {
  margin: auto;
}
