:host {
  display: block;
  padding: 0 30px 30px;
}
mat-card {
  max-width: 800px;
  margin: auto;
}
.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
.controls-card {
  margin-bottom: 30px;
}
mat-spinner {
  margin: auto;
}
.chart-wrapper {
  max-width: 800px;
  margin: auto;
}
