<div id="single-rates-container">
  <button mat-icon-button routerLink="/rates">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="controls-card">
    <div class="controls">
      <app-base-currency-selector></app-base-currency-selector>
      <app-date-picker
        label="Start Date"
        [selectedDate]="startAt$ | async"
        (selectDate)="onSelectStartAt($event)"
      ></app-date-picker>
      <app-date-picker
        label="End Date"
        [selectedDate]="endAt$ | async"
        (selectDate)="onSelectEndAt($event)"
      ></app-date-picker>
    </div>
  </mat-card>
  <mat-spinner
    *ngIf="(historicRatesLoadingStatus$ | async) === loadingStatus.loading"
  ></mat-spinner>
  <app-error
    *ngIf="(historicRatesLoadingStatus$ | async) === loadingStatus.failed"
  ></app-error>
  <div
    class="chart-wrapper"
    *ngIf="(historicRatesLoadingStatus$ | async) === loadingStatus.loaded"
  >
    <ng-container *ngIf="historicRates$ | async as rates">
      <canvas
        baseChart
        [datasets]="rates.data"
        [labels]="rates.labels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="false"
        chartType="line"
      >
      </canvas>
    </ng-container>
  </div>
</div>
