<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [value]="selectedDate"
    (dateChange)="onDateChange($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
