/* You can add global styles to this file, and also import other style files */
@import '~currency-flags/dist/currency-flags.min.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
